/* mise en page du formulaire */

h1#titletableformulaire{
    font-family: "alkalami", serif;
    font-size:32px;
    color: red;
    text-align: center
}

#contContact, #contData {
    display:flex;
    flex-direction: column;
}
#contData {
    border:solid 2px black;

}

label {
    font-size: 20px;
    margin-left:50px;
    margin-top:20px
}
#name, #surname, #email, #phone, #message {
    border:solid 1px gray;
    width:330px;
    font-size: 20px;
    align-self:center
    
}


#subject-select{
    border:solid 1px gray;
    width:330px;
    font-size: 20px;
    margin-top:20px;
    margin-left:50px;
}
select option {
    font-size: 18px;
}

#submit-button {
    background-color: RGB(0,4,222);
    color:white;
    font-size: 20px;
    font-family: "carme", sans-serif;
    margin-top:50px;
    width:150px;
    height: 50px;
    align-self:center
} 
#submit-button:hover {
    color:red
}

@media screen and (min-width:768px) {
    #contData {
        width:600px;
        margin-left: 400px;
    }
    
    label {
        font-size: 26px;
        margin-left:100px
    }
    #name, #surname, #email, #phone, #message {
        font-size: 26px;
        width:500px
    }
    #subject-select{
        font-size: 20px;
        margin-left:100px
    }
    select option {
        font-size: 20px;
    }
    #submit-button {
        font-size: 26px;
    }
}
