  .container{
	display : flex; 
	flex-direction: row; 
	justify-content : space-evenly; 
	height : 90px; 
	width : 100%; 
	background-color : rgb(206,206,206); 
}  

#menuBurger {
	height: 30px;
	width: 30px;
	padding:20px
}
#logoMenu {
	height:24px;
	width: 38px;
	padding:20px

}
#titleMenuAccueil {
	font-family: "Allerta", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color:black;
	padding-top:20px;
	padding-left:10px;
}
#titleMenu { 
	font-family: "Allerta", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color:black;
	padding-top:20px;
	padding-left:10px;
	display:none
	/* visibility:hidden */
  }

  #iconMenu {
	height:30px;
	padding:20px
  }
/* pour écran taille md 768 on affiche les 4  */
 @media screen and (min-width:768px){
	
.container {
	height:150px
}
#titleMenu{
	display: flex;
	visibility:visible;
	justify-content : space-evenly; 
	font-size: 32px;
} 
#titleMenuAccueil {
	font-size: 32px;
}
 } 