.headerContainer{
	display : flex;
	flex-direction: row;
	justify-content : space-evenly;
	height : 30vh;
	width : 100vw;
	background-color : rgb(206,206,206);
}

.allerta-regular { 
	font-family: "Allerta", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	color:black;
  }
  