.presentatPhoto {
    flex-direction: column;
    display: flex;
    align-items: start;
    padding-left:10px;
  
} 

#containerImgGrossesse,#containerImgMariage, #containerImgBaby,#containerImgFamille, #containerImgBapt, #containerImgCouple {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    height:312px
 
    
}    

.ImgGrossesse, .ImgMariage, .ImgBebe,.ImgFamille, .ImgBapteme, .ImgCouple {
    width: 90px;  
    height: 90px; 
    padding-left: 10px; 
    padding-top:10px;
  
} 

h1.titleGalerie {
    font-size: 20px;
    color: #0004DE;
    font-family: "alkalami", sans-serif;
    text-align: start;
}


#listCategory {
    font-family: "carme", sans-serif;
    font-size: 24px;
    color:black;
} 

/* pour écran taille md 768 on affiche les 4  */
/* @media screen and (min-width:768px){
	
    .container {
        height:150px
    }
    #titleMenu{
        display: flex;
        visibility:visible;
        justify-content : space-evenly; 
        font-size: 32px;
    } 
    #titleMenuAccueil {
        font-size: 32px;
    } 
     }  */