.presentatPhotoLayout{
    flex-direction: column;
}

h1.titleGalerieChoice {
    /* display: none; */
    visibility: hidden;

}

.optionCategory{
    font-size: 20px;
    color:black;
    font-family: "carme";
}

#presentatPhoto {
    flex-direction: column;
    display: flex;
}

h1.titleGalerie{
    font-size:24px;
    color:black;
    font-family: "carme";
}

#containerImgGrossesse,#containerImgMariage, #containerImgBaby,#containerImgFamille, #containerImgBapt, #containerImgCouple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   

.ImgGrossesse,.ImgMariage, .ImgBebe, .ImgFamille, .ImgBapteme, .ImgCouple  {
    width: 150px;
    height: 125px;
}

@media  screen and (min-width:768px) {
    .presentatPhotoLayout{
        flex-direction: row;
    }
    h1.titleGalerieChoice {
        font-size: 36px;
        color:red;
        font-family: "alkalami", sans-serif;
    }
    .optionCategory{
        font-size: 26px;
    }
    h1.titleGalerie{
        font-size:26px;
    }
   
    .ImgGrossesse,.ImgMariage, .ImgBebe, .ImgFamille, .ImgBapteme, .ImgCouple  {
        width: 200px;
        height: 167px;
    }
    
}