#presentatPhoto {
    flex-direction: row;
    display: flex;
}

#containerImg, #containerGrossesse, #containerMariage, #containerBaby, #containerFamille, #containerBapt, #containerCouple {
    display: flex;
    flex-direction: column;
}

#containerImgGrossesse,#containerImgMariage, #containerImgBaby,#containerImgFamille, #containerImgBapt, #containerImgCouple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   

img {
    /* width: 150px;*/
    height: 150px;
    padding-left: 10px;
    flex-wrap: nowrap;
}

h1 {
    font-size: 40px;
    color: black;
    font-family: "alkalami", sans-serif;
    text-align: center;
}


#listCategory {
    font-family: "carme", sans-serif;
    font-size: 24px;
    color:black;
    
    padding-top: 10px
}