#titletableprestation {
    font-family: "carme", sans-serif;
    font-size: 20px;
    color:RGB(0,4,222)
}

#descriptiontableprestation {
    font-family: "carme", sans-serif;
    font-size: 18px;
}

@media screen and (min-width:768px ){
    #titletableprestation {
        font-size: 26px;
    }
    #descriptiontableprestation {
        font-size: 24px;
    }
}